@model Tablero_MVC.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" type="text/css" href="/css/usuario.css">
<h1>Editar</h1>

<h6>Actualiza tus datos aquí:</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDUsuario" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institucion" class="control-label"></label>
                <input asp-for="Institucion" class="form-control" />
                <span asp-validation-for="Institucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" id="mailInput" />
                <span asp-validation-for="Mail" class="text-danger"></span>
                <span id="emailError" style="color:orangered;"></span>
            </div>
            @*mismo mensaje que en create, si duplica el mail*@
            @if (TempData["ErrorEmail"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorEmail"]</div>
            }
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="/js/usuario.js?asp-append-version=true"></script>
}
