@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*La idea de esto, es que de la bienvenida a nuestra pag. web tablero grupo 6 jeje*@


<html>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<body>
    <div class="container">
        <h1>Bienvenido a Tabler6!</h1>
        <p>Aquí podrás crear y organizar tus tareas &#129299;</p>
        <p>Podrás modificarlas cuando consideres necesario...&#128521;</p>
        <p>E incluso eliminarlas cuando las hayas completado &#128522;</p>
    </div>

</body>
</html>