@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/pprivacidad.css">

<body>
    <h1>Política de privacidad</h1>

    <p>
        Sobre datos y registro:

        La base legal para el tratamiento de tus datos es: el consentimiento.

        Queremos que sepas que para utilizar Tabler6, al iniciar tu registro, entendemos que aceptas nuestra Política de Privacidad.
        Para proteger tus datos personales, el Tabler6 toma todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.
        La seguridad de tus datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello.
        Los datos personales que proporciones a Tablero se conservarán hasta que solicites su supresión.
        Puedes eliminar tu cuenta cuando lo desees.

        Al navegar por nuestro sitio web, se pueden recoger datos no identificativos, que pueden incluir, la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios, hábitos de navegación y otros datos que no pueden ser utilizados para identificarte.
        Política de Cookies:
        Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en tu navegador web.
        En la página Política de Cookies puedes consultar toda la información relativa a la política de recogida, la finalidad y el tratamiento de las cookies.
    </p>
</body>
