/*agrego hoja de estilos para el Home*/
/*Modifique la letra y le baje el tono al color*/

body {
    font-family: Cambria, cursive;
    background-color: #6cbd11;
    text-align: center;
}
/*#00ff90*/
h1 {
    color: #0094ff;
}

p {
    color: #3f3939;
    font-size: 18px;
    line-height: 1.5;
}


.container {
    background-color: #ca2ac3;
    border-radius: 10px;
    margin: 100px auto;
    padding: 20px;
    width: 500px;
}
/*#fd5ee7*/