/* estilos.css */

body {
    font-family: Cambria, cursive;
    /*  background-color: #FFC0CB;  Color de fondo claro */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    background-image: url("https://images.pexels.com/photos/5208348/pexels-photo-5208348.jpeg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: #0094ff;
}

h4 {
    color: #0094ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h6 {
    color: #808080ff;
    font-size: 20px;
    line-height: 1.8;
    font-family: Calibri, cursive;
    text-align: left;
}

p {
    color: #a6a1b1f2;
    font-size: 20px;
    line-height: 1.8;
    font-family: Calibri, cursive;
    text-align: left;
}

.textoIndex {
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    width: 900px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Agrega un margen superior a la tabla */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #3498db; /* Cambia el color del enlace a azul claro */
    text-decoration: none;
}

.btn {
    border-radius: 6px;
    background-color: dimgrey;
    color: lightgrey;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
}

    a:hover {
        text-decoration: underline;
    }

.boton p {
    text-decoration: none;
    background-color: skyblue;
    color: white;
    padding: 1px 20px;
    border: dashed;
    border-radius: 1px;
    margin-top: 1px;
    min-width: 50px;
    max-width: 125px;
}

}