@model Tablero_MVC.Models.Tablero

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Seguro quieres eliminar?</h3>
<div>
    <h4>Tablero</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDTablero" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
