@model IEnumerable<Tablero_MVC.Models.Tablero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
@* Agregue el nav del layout en el index de Tablero *@
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Tarea" asp-action="Index">Tarea</a>
</li>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTablero">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IDTablero">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTablero">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
